.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lists {
    padding:10px;
}

.list{
    list-style-type: none;
}

.link {
    text-decoration: none;
    color:black;
    cursor: pointer;
}

.link:hover{
    color:blue;
}

.title{
    text-align: center;
    padding: 0;
}

.nav{
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: center;
    height:5vh;
    color:black;
}