/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/styles/about.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.about_container___MXie{
    display: flex;
    flex-direction: column;
    align-items: center;
}

