/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/styles/styles.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.styles_container__aSW4A{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.styles_lists__YToG4 {
    padding:10px;
}

.styles_list__XXuAz{
    list-style-type: none;
}

.styles_link__TfPQQ {
    text-decoration: none;
    color:black;
    cursor: pointer;
}

.styles_link__TfPQQ:hover{
    color:blue;
}

.styles_title__v8jp7{
    text-align: center;
    padding: 0;
}

.styles_nav__FWv9j{
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: center;
    height:5vh;
    color:black;
}
